$mainBrown: #5d4037;
$textLightBrown: #d7ccc8;
$darkGrey: #9e9e9e;
$lightGrey: #bdbdbd;
$textGrey: #757575;
$mainWhite: #ffffff;
$mainBlack: #212121;
$mainGreen: #006400;
$lightGreen: #6b8e23;
$mainFont: "Helvetica";

.footer {
  background-color: $mainGreen;
  h3 {
    font-family: "Arial" !important;
    text-transform: uppercase;
    color: $lightGrey;
  }
}
