$mainBrown: #5d4037;
$textLightBrown: #d7ccc8;
$darkGrey: #9e9e9e;
$lightGrey: #bdbdbd;
$textGrey: #757575;
$mainWhite: #ffffff;
$mainBlack: #212121;
$mainGreen: #006400;
$lightGreen: #6b8e23;

.navbar_customize {
  color: $lightGrey !important;
  background-color: $mainGreen;
  font-size: 1.5rem;
  &-brand {
    color: $lightGrey !important;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  &-menu {
    margin-left: 80% !important;
    &:hover {
      color: $mainWhite !important;
    }
  }
  &-menu-text {
    color: $lightGrey !important;
    &:hover {
      color: $mainWhite !important;
    }
  }
  &-menu-cart {
    cursor: pointer;
    font-size: 2rem;
  }
}
