:root {
  --mainBrown: #5d4037;
  --textLightBrown: #d7ccc8;
  --darkGrey: #9e9e9e;
  --lightGrey: #bdbdbd;
  --textGrey: #757575;
  --mainWhite: #ffffff;
  --mainBlack: #212121;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--mainWhite);
  color: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica" !important;
  letter-spacing: 0.25rem !important;
}

.navText-customize {
  color: var(--mainBlack) !important;
  font-size: 1.5rem;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlack);
  font-size: 2rem;
}

.home-background {
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* horizontally center */
  background-position: center;
  background-size: cover;
}

.background-brand {
  color: var(--mainBrown) !important;
  font-size: 10rem;
}
